<h1 class="header center teal-text text-lighten-2">Sign Up</h1>
<div class="form-group lime-text text-accent-4">	
	<%= simple_form_for @User do |f| %>
		<%= f.input :name, label: "name", class: 'input-field col s6' %>
		<%= f.input :email, label: "email", class: 'input-field col s6'   %>
		<%= f.input :password, label: "password", class: 'input-field col s6 '%>
		<%= f.input :password_confirmation, label: "password again!", class: 'input-field col s6' %>
		<div class="row center">
		<%= f.button :submit, "Sign Up", class: 'btn btn-primary' %>
		<div class="row center">
	<% end %>
</div>
